# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Build outputs
dist
dist-ssr
backend/dist
backend/build

# Local files
*.local

# Environment
*.env
.env
.env.*
env
backend/*-firebase-adminsdk-*.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.idea/*
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Security
secure

# Vite
.vite

# Testing
coverage
*.test.js.snap

# Linting/Formatting
.eslintcache
.prettiercache

# Temporary Files
*.tmp
*.bak
*.swp
*~

# Windows
Thumbs.db
desktop.ini